<!-- <form>
        USSERNAME : <input type="text" #username><br>
        PASSWORD : <input type="text" #userpass><br>
        <input type="button" value="SUMBIT">
        <input type="button" value="RESET" (click)="user(username.value ,userpass.value)">

        <br>

    </form>
    <img [src]="myimage" alt="same this image">

    <br>
    {{myusername}} <br>

    USER NAME : <input type="text" [(ngModel)]="myusername"> <br> -->

<!-- 
    <form style="text-align: center; width: 600px; margin: 0 auto;">

        <div class="container">
            <div class="row g-3">
                <div class="col-md-12 w-50">
                    <label for="inputName1" class="form-label" id="firstname">first name</label>
                    <input type="text" class="form-control" id="inputName1" [(ngModel)]="firstname">
                </div>
                <div class="col-md-12 w-50">
                    <label for="inputName2" class="form-label">last name</label>
                    <input type="text" class="form-control" id="inputName2" [(ngModel)]="lastname">
                </div>
                <div class="col-md-12">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" [(ngModel)]="email">
                </div>
                <div class="col-md-12">
                    <label for="inputPhone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="inputPhone" [(ngModel)]="phone">
                </div>
                <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="password">
                </div>
                <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">confirm Password</label>
                    <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="confirmPassword">
                </div>
                <div class="align-center">
                    <button><input type="button" class="form-control" id="inputPassword4" (click)="user()"
                            value="register"></button>
                </div>
            </div>
        </div>
    </form> -->



<!-- 
<div class="container" style="width: 500px;">
    <div class="row g-3">
        <div class="col-md-12 w-50">
            <label for="inputName1" class="form-label" id="firstname">first name</label>
            <input type="text" class="form-control" id="inputName1" [(ngModel)]="firstname">
        </div>
        <div class="col-md-12 w-50">
            <label for="inputName2" class="form-label">last name</label>
            <input type="text" class="form-control" id="inputName2" [(ngModel)]="lastname">
        </div>
        <div class="col-md-12">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" [(ngModel)]="email">
        </div>
        <div class="col-md-12">
            <label for="inputPhone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="inputPhone" [(ngModel)]="phone">
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="password">
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">confirm Password</label>
            <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="confirmPassword">
        </div>
        <div class="align-center" style="margin-top: 24px;margin-left: 137px;text-align: center;">
            <button><input type="button" class="form-control" id="inputPassword4" (click)="user()"
                    value="register"></button>
        </div>
    </div>
</div> -->