<div [class]="{border:true , bg:true , div:true}">
    <h2>Hii ananth</h2>

</div>
<div class=" border div">

    <h2>welcome</h2>
</div>
<!-- 
<div [ngStyle]="{'color':clr,'background-color':bgc}">
    <h5>arun</h5>
</div> -->


<!-- <select (change)="mycolor()">
<option #gren>GREEN</option>
<option #red>RED</option>
<option #blue>BLUE</option>
<option #black>BLACK</option>
<option #orange>ORANGE</option>


</select> -->

<!-- <select [(ngModel)]="selected" [compareWith]="compareObjects">
    <option *ngFor="let datas of data" [ngStyle]="{'background-color': datas.color}" [ngValue]="datas">{{datas.name}}
    </option>
</select>

<div [ngStyle]="{'background-color': selected.color}">{{selected.name}}</div> -->













<!-- <div *ngif="mycon, else xyz1"> -->
<!-- <div *ngif="mycondition">
    <h1>welcome to</h1>
</div> -->

<!-- <ng-template>

    <div #xyz>
        <h2>total1</h2>
    </div>

    <div #xyz>
        <h2>total2</h2>
    </div>

   
</ng-template> -->



<!-- <ol>
    <li *ngfor="fruitnames of fruit">
        {{fruitnames}}
    </li>
</ol> -->

<!-- <input type="text" #fruit>:<input type="button" value="Add Fruit " (click)="addfruit(fruit.value)">
<ol>
    <li *ngFor="let fruitnames of fruits ">
            {{fruitnames}}
    </li>

</ol>


<div *ngFor="let day of days" >

    <div *ngIf="day=='Sunday' || day=='Saturday' ; else elseBlock">
        <h5>{{day}}: is weekend </h5>

    </div>
    <ng-template #elseBlock>
        <h5> {{day}}: week days </h5>
    </ng-template>
</div>


<div [ngSwitch]="myval">

    <h3 *ngSwitchCase="1">tamil</h3>
    <h3 *ngSwitchCase="2">hindi</h3>
    <h3 *ngSwitchCase="3">maradi</h3>
    <h3 *ngSwitchCase="4">telgu</h3>
</div> -->